<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>omori</title>
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../jquery-3.7.1.min.js"></script>
</head>

<body>
    <div class="content">
        <div class="center">
            <div class="image-container">
                <img src="../assets/img/p1.gif" id="image">
            </div>
            <div class="bottomctl">
                <div class="textbox">
                    <article class="textbox-content" id="content"></article>
                    <p class="textbox-date" id="date"></p>
                </div>
                <div class="buttons">
                    <button id="backbtn">&lt;</button>
                    <button id="nextbtn">&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>

</html>