@font-face {
    font-family: 'Proggy';
    src: url('/res/proggycleansz.ttf');
}

@font-face {
    font-family: 'RetroComputer';
    src: url('/res/retrocomputer.ttf');
}

@font-face {
    font-family: 'OMORI';
    src: url('/res/omori.ttf');
}

@keyframes body-hue {
    from {
        background-color: #faa;
    }

    16.7% {
        background-color: #ffa;
    }

    33.3% {
        background-color: #afa;
    }

    50% {
        background-color: #aff;
    }

    66.7% {
        background-color: #aaf;
    }

    83.3% {
        background-color: #faf;
    }

    to {
        background-color: #faa;
    }
}

@keyframes text-hue {
    from {
        color: #faa;
    }

    16.7% {
        color: #ffa;
    }

    33.3% {
        color: #afa;
    }

    50% {
        color: #aff;
    }

    66.7% {
        color: #aaf;
    }

    83.3% {
        color: #faf;
    }

    to {
        color: #faa;
    }
}

@keyframes movingglow {
    from {
        text-shadow:
            0px 0px #00ffff88;
    }

    16.7% {
        text-shadow:
            1px 1px #00ffff88;
    }

    33.3% {
        text-shadow:
            3px 3px #00ffff88;
    }

    50% {
        text-shadow:
            5px 5px #00ffff88;
    }

    66.7% {
        text-shadow:
            3px 3px #00ffff88;
    }

    83.3% {
        text-shadow:
            1px 1px #00ffff88;
    }

    to {
        text-shadow:
            0px 0px #00ffff88;
    }
}

@keyframes tfx-color {
    from {
        text-shadow:
            2px 2px #00ffff44,
            -2px -2px #ff000044;
    }

    16.7% {
        text-shadow:
            3px 3px #00ffff66,
            -3px -3px #ff000066;
    }

    33.3% {
        text-shadow:
            4px 4px #00ffff88,
            -4px -4px #ff000088;
    }

    50% {
        text-shadow:
            5px 5px #00ffffaa,
            -5px -5px #ff0000aa;
    }

    66.7% {
        text-shadow:
            4px 4px #00ffff88,
            -4px -4px #ff000088;
    }

    83.3% {
        text-shadow:
            3px 3px #00ffff66,
            -3px -3px #ff000066;
    }

    to {
        text-shadow:
            2px 2px #00ffff44,
            -2px -2px #ff000044;
    }
}

@keyframes bfx-color {
    from {
        box-shadow:
            2px 0px #00ffff44,
            -2px 0px #ff000044;
    }

    16.7% {
        box-shadow:
            2px 0px #00ffff66,
            -2px 0px #ff000066;
    }

    33.3% {
        box-shadow:
            2px 0px #00ffff88,
            -2px 0px #ff000088;
    }

    50% {
        box-shadow:
            2px 0px #00ffffaa,
            -2px 0px #ff0000aa;
    }

    66.7% {
        box-shadow:
            2px 0px #00ffff88,
            -2px 0px #ff000088;
    }

    83.3% {
        box-shadow:
            2px 0px #00ffff66,
            -2px 0px #ff000066;
    }

    to {
        box-shadow:
            2px 0px #00ffff44,
            -2px 0px #ff000044;
    }
}

.tfx {
    font-family: 'RetroComputer';
}

.fancybg .tfx {
    text-shadow:
        2px 2px #00ffff44,
        -2px -2px #ff000044;
    animation:
        tfx-color 6s linear infinite,
        text-hue 6s linear infinite;
}

.bfx {
    box-shadow:
        2px 0px #00ffff44,
        -2px 0px #ff000044;
    animation: bfx-color 6s linear infinite;
}

.bigger {
    font-size: 24px;
}

.biggest {
    font-size: 36px;
}

.centered {
    text-align: center;
}

.centered p {
    align-items: center;
}

.banners img {
    width: 88px;
    height: 31px;
}

.banners p {
    margin: 5px;
}

.small-margin {
    margin: 5px;
}

.emoji {
    width: 32px;
    vertical-align: middle;
    display: inline;
}

.chip {
    border: 2px solid #ffffff33;
    border-radius: 2px;
    padding: 3px;
    margin: 3px;
}

.box {
    border: 2px solid #ffffff33;
    border-radius: 2px;
    padding: 3px;
    margin: 3px;
}

.subbox {
    border: 2px solid #ffffff33;
    border-radius: 2px;
    padding: 3px;
    margin: 3px;
    overflow: auto;
    max-height: 200px;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: #00000000;
    border: 2px solid #ffffffaa;
    color: inherit
}

body {
    background-blend-mode: multiply;
    color: white;
    font-family: 'Proggy';
    font-size: 20px;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.fancybg {
    background-image: url('/img/background.png'), url('noise.svg'), linear-gradient(45deg,
            #2da85a,
            #bb00ff), linear-gradient(45deg,
            #ffffff,
            #80ff80);
    animation: body-hue 6s linear infinite;
}

.hikkibg {
    background-image: url('/img/background.png'), url('noise.svg'), linear-gradient(45deg,
            #ababab,
            #545454), linear-gradient(45deg,
            #373737,
            #838383);
}

li::marker {
    content: "- ";
    font-size: 20px;
}

small {
    font-size: 15px;
}

/* OMORI MENTIONED :speak::speak::speak::fire::fire::fire::fire: */

.dialog-box {
    border: 3px solid white;
    background-color: black;
    margin: 4px;
    padding: 4px;
    font-family: 'OMORI';
    font-size: 24px;
}

.dialog-content {
    margin: 1px;
}

.glitch {
    position: relative;
    margin: 0 auto;
    background: #000;
}

.glitch::before,
.glitch::after {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    overflow: hidden;
    position: absolute;
    top: 0;
    clip: rect(0, 900px, 0, 0);
    content: attr(data-text);
    background: #000;
}

.glitch::after {
    animation-name: glitch-animation;
    animation-duration: 4s;
    left: 4px;
    text-shadow: -1px 0 #ffa800;
    background: #000;
}

.glitch::before {
    animation-name: glitch-animation-2;
    animation-duration: 6s;
    left: -4px;
    text-shadow: 1px 0 #00d8ff;
    background: #000;
}

/* Expanded Animations */
@keyframes glitch-animation {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }

    5% {
        clip: rect(12px, 9999px, 59px, 0);
    }

    10% {
        clip: rect(48px, 9999px, 29px, 0);
    }

    15.0% {
        clip: rect(42px, 9999px, 73px, 0);
    }

    20% {
        clip: rect(63px, 9999px, 27px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 55px, 0);
    }

    30.0% {
        clip: rect(86px, 9999px, 73px, 0);
    }

    35% {
        clip: rect(20px, 9999px, 20px, 0);
    }

    40% {
        clip: rect(26px, 9999px, 60px, 0);
    }

    45% {
        clip: rect(25px, 9999px, 66px, 0);
    }

    50% {
        clip: rect(57px, 9999px, 98px, 0);
    }

    55.0% {
        clip: rect(5px, 9999px, 46px, 0);
    }

    60.0% {
        clip: rect(82px, 9999px, 31px, 0);
    }

    65% {
        clip: rect(54px, 9999px, 27px, 0);
    }

    70% {
        clip: rect(28px, 9999px, 99px, 0);
    }

    75% {
        clip: rect(45px, 9999px, 69px, 0);
    }

    80% {
        clip: rect(23px, 9999px, 85px, 0);
    }

    85.0% {
        clip: rect(54px, 9999px, 84px, 0);
    }

    90% {
        clip: rect(45px, 9999px, 47px, 0);
    }

    95% {
        clip: rect(37px, 9999px, 20px, 0);
    }

    100% {
        clip: rect(4px, 9999px, 91px, 0);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }

    5% {
        clip: rect(52px, 9999px, 74px, 0);
    }

    10% {
        clip: rect(79px, 9999px, 85px, 0);
    }

    15.0% {
        clip: rect(75px, 9999px, 5px, 0);
    }

    20% {
        clip: rect(67px, 9999px, 61px, 0);
    }

    25% {
        clip: rect(14px, 9999px, 79px, 0);
    }

    30.0% {
        clip: rect(1px, 9999px, 66px, 0);
    }

    35% {
        clip: rect(86px, 9999px, 30px, 0);
    }

    40% {
        clip: rect(23px, 9999px, 98px, 0);
    }

    45% {
        clip: rect(85px, 9999px, 72px, 0);
    }

    50% {
        clip: rect(71px, 9999px, 75px, 0);
    }

    55.0% {
        clip: rect(2px, 9999px, 48px, 0);
    }

    60.0% {
        clip: rect(30px, 9999px, 16px, 0);
    }

    65% {
        clip: rect(59px, 9999px, 50px, 0);
    }

    70% {
        clip: rect(41px, 9999px, 62px, 0);
    }

    75% {
        clip: rect(2px, 9999px, 82px, 0);
    }

    80% {
        clip: rect(47px, 9999px, 73px, 0);
    }

    85.0% {
        clip: rect(3px, 9999px, 27px, 0);
    }

    90% {
        clip: rect(26px, 9999px, 55px, 0);
    }

    95% {
        clip: rect(42px, 9999px, 97px, 0);
    }

    100% {
        clip: rect(38px, 9999px, 49px, 0);
    }
}
