body {
    background: linear-gradient(#0d001d, #000000);
    background-attachment: fixed;
    color: #fff;
    font-family: monospace;
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 5px;
    background: linear-gradient(#0a0a0a, #000);
}

main {
    padding: 5px;
}

section {
    padding: 5px;
    background-color: #0b0020;
}

blockquote {
    padding: 6px;
    margin: 0;
    border-left: 3px solid #555;
    background-color: #111;
    margin-bottom: 6px;
}

blockquote a {
    text-decoration: none;
    color: inherit;
}

blockquote a:hover {
    text-decoration: underline;
}

.post-subtitle {
    color: #999;
    vertical-align: middle;
    margin-bottom: 12px;
}

.post-pfp {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: middle;
}

.post-content a {
    text-decoration: underline;
    color: inherit;
}